:root {
  /* background */
  --body-color: #ffffff;
  --container-color: #ffffff;

  /* text */
  --title-color: #161212;
  --text-color: #5b5757;

  /* main colors */
  --first-color: #dc3845;
  --first-color-alt: #c72c39;

  /* secondary */
  --first-color-light: #fddede;
  --first-color-lighten: #fff5f5;

  /* borders */
  --border-color: #e5e7eb;

  /* card */
  --card-color: #ffffff;

  /* hover */
  --hover-color: #b91c1c;

  /* shadow */
  --shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

  /*fonts*/
  --fonts: "Poppins", sans-serif;
}
.dark {
  --body-color: #251d1e;
  --container-color: #302728;

  --title-color: #ffffff;
  --text-color: #d1c7c8;

  --first-color: #dc3845;
  --first-color-alt: #c72c39;

  --card-color: #302728;

  --border-color: #3b3233;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  border: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--body-color);
}
/*navbar*/
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 156px;
}
.site-nav {
  padding: 24px 0;
}
.navbar-name {
  display: flex;
  align-items: center;
  gap: 4px;
  p {
    font-family: var(--fonts);
    font-size: 16px;
    line-height: 100%;
  }
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.navbar-link {
  display: flex;
  align-items: center;
  gap: 48px;

  a {
    color: var(--title-color);
    font-family: var(--fonts);
    font-size: 16px;
    line-height: 100%;
  }
}
.navbar-link a:hover {
  color: var(--first-color-alt);
}
.btn {
  background: none;
}
/*hero*/
.hero {
  padding-top: 64px;
  padding-bottom: 56px;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}
.hero-button {
  padding: 20px 56px;
  border-radius: 64px;
  color: var(--card-color);
  background-color: var(--first-color);
}

.hero-text {
  font-family: var(--fonts);
  h1 {
    font-size: 40px;
    line-height: 140%;
    margin-bottom: 16px;
  }
  p {
    color: var(--text-color);
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
  }
}
@media (max-width: 1200px) {
  .hero-img img {
    width: 450px;
    height: 408px;
  }
  .hero-text h1 {
    font-size: 30px;
    height: 130%;
    color: var(--title-color);
  }
}
@media (max-width: 1025px) {
  .hero-img img {
    width: 400px;
    height: 358px;
  }
  .hero-button {
    padding: 15px 45px;
  }
}
@media (max-width: 925px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .nav-bar .navbar-link a {
    display: none;
  }
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 420px) {
  .hero-img img {
    width: 320px;
    height: auto;
  }
  .hero-text h1 {
    font-size: 20px;
    height: 100%;
  }
}

main {
  flex-grow: 1;
}
